# flyctl launch added from .gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Local env files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Testing
**/coverage

# Turbo
**/.turbo

# Vercel
**/.vercel

# Build Outputs
**/.next
**/out
**/build
**/dist


# Debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Misc
**/.DS_Store
**/*.pem

# flyctl launch added from apps/backend_worker/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
apps/backend_worker/node_modules
apps/backend_worker/.pnp
apps/backend_worker/**/.pnp.js

# testing
apps/backend_worker/coverage

# next.js
apps/backend_worker/.next
apps/backend_worker/out

# production
apps/backend_worker/build

# misc
apps/backend_worker/**/.DS_Store
apps/backend_worker/**/*.pem

# debug
apps/backend_worker/**/npm-debug.log*
apps/backend_worker/**/yarn-debug.log*
apps/backend_worker/**/yarn-error.log*

# local env files
apps/backend_worker/**/.env.local
apps/backend_worker/**/.env.development.local
apps/backend_worker/**/.env.test.local
apps/backend_worker/**/.env.production.local

# vercel
apps/backend_worker/**/.vercel

apps/backend_worker/**/**/*.trace
apps/backend_worker/**/**/*.zip
apps/backend_worker/**/**/*.tar.gz
apps/backend_worker/**/**/*.tgz
apps/backend_worker/**/**/*.log
apps/backend_worker/**/package-lock.json
apps/backend_worker/**/**/*.bun

# flyctl launch added from apps/web/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
apps/web/node_modules
apps/web/.pnp
apps/web/**/.pnp.js
apps/web/**/.yarn/install-state.gz

# testing
apps/web/coverage

# next.js
apps/web/.next
apps/web/out

# production
apps/web/build

# misc
apps/web/**/.DS_Store
apps/web/**/*.pem

# debug
apps/web/**/npm-debug.log*
apps/web/**/yarn-debug.log*
apps/web/**/yarn-error.log*

# env files (can opt-in for commiting if needed)
apps/web/**/.env*

# vercel
apps/web/**/.vercel

# typescript
apps/web/**/*.tsbuildinfo
apps/web/**/next-env.d.ts

# flyctl launch added from packages/api/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
packages/api/node_modules
packages/api/.pnp
packages/api/**/.pnp.js

# testing
packages/api/coverage

# next.js
packages/api/.next
packages/api/out

# production
packages/api/build

# misc
packages/api/**/.DS_Store
packages/api/**/*.pem

# debug
packages/api/**/npm-debug.log*
packages/api/**/yarn-debug.log*
packages/api/**/yarn-error.log*

# local env files
packages/api/**/.env.local
packages/api/**/.env.development.local
packages/api/**/.env.test.local
packages/api/**/.env.production.local

# vercel
packages/api/**/.vercel

packages/api/**/**/*.trace
packages/api/**/**/*.zip
packages/api/**/**/*.tar.gz
packages/api/**/**/*.tgz
packages/api/**/**/*.log
packages/api/**/package-lock.json
packages/api/**/**/*.bun

# flyctl launch added from packages/auth/.gitignore
# dependencies (bun install)
packages/auth/**/node_modules

# output
packages/auth/**/out
packages/auth/**/dist
packages/auth/**/*.tgz

# code coverage
packages/auth/**/coverage
packages/auth/**/*.lcov

# logs
packages/auth/**/logs
packages/auth/**/_.log
packages/auth/**/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
packages/auth/**/.env
packages/auth/**/.env.development.local
packages/auth/**/.env.test.local
packages/auth/**/.env.production.local
packages/auth/**/.env.local

# caches
packages/auth/**/.eslintcache
packages/auth/**/.cache
packages/auth/**/*.tsbuildinfo

# IntelliJ based IDEs
packages/auth/**/.idea

# Finder (MacOS) folder config
packages/auth/**/.DS_Store

# flyctl launch added from packages/database/.gitignore
# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

packages/database/**/logs
packages/database/**/_.log
packages/database/**/npm-debug.log_
packages/database/**/yarn-debug.log*
packages/database/**/yarn-error.log*
packages/database/**/lerna-debug.log*
packages/database/**/.pnpm-debug.log*
packages/database/**/generated
# Caches

packages/database/**/.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

packages/database/**/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

packages/database/**/pids
packages/database/**/_.pid
packages/database/**/_.seed
packages/database/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover

packages/database/**/lib-cov

# Coverage directory used by tools like istanbul

packages/database/**/coverage
packages/database/**/*.lcov

# nyc test coverage

packages/database/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)

packages/database/**/.grunt

# Bower dependency directory (https://bower.io/)

packages/database/**/bower_components

# node-waf configuration

packages/database/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)

packages/database/**/build/Release

# Dependency directories

packages/database/**/node_modules
packages/database/**/jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)

packages/database/**/web_modules

# TypeScript cache

packages/database/**/*.tsbuildinfo

# Optional npm cache directory

packages/database/**/.npm

# Optional eslint cache

packages/database/**/.eslintcache

# Optional stylelint cache

packages/database/**/.stylelintcache

# Microbundle cache

packages/database/**/.rpt2_cache
packages/database/**/.rts2_cache_cjs
packages/database/**/.rts2_cache_es
packages/database/**/.rts2_cache_umd

# Optional REPL history

packages/database/**/.node_repl_history

# Output of 'npm pack'

packages/database/**/*.tgz

# Yarn Integrity file

packages/database/**/.yarn-integrity

# dotenv environment variable files

packages/database/**/.env
packages/database/**/.env.development.local
packages/database/**/.env.test.local
packages/database/**/.env.production.local
packages/database/**/.env.local

# parcel-bundler cache (https://parceljs.org/)

packages/database/**/.parcel-cache

# Next.js build output

packages/database/**/.next
packages/database/**/out

# Nuxt.js build / generate output

packages/database/**/.nuxt
packages/database/**/dist

# Gatsby files

# Comment in the public line in if your project uses Gatsby and not Next.js

# https://nextjs.org/blog/next-9-1#public-directory-support

# public

# vuepress build output

packages/database/**/.vuepress/dist

# vuepress v2.x temp and cache directory

packages/database/**/.temp

# Docusaurus cache and generated files

packages/database/**/.docusaurus

# Serverless directories

packages/database/**/.serverless

# FuseBox cache

packages/database/**/.fusebox

# DynamoDB Local files

packages/database/**/.dynamodb

# TernJS port file

packages/database/**/.tern-port

# Stores VSCode versions used for testing VSCode extensions

packages/database/**/.vscode-test

# yarn v2

packages/database/**/.yarn/cache
packages/database/**/.yarn/unplugged
packages/database/**/.yarn/build-state.yml
packages/database/**/.yarn/install-state.gz
packages/database/**/.pnp.*

# IntelliJ based IDEs
packages/database/**/.idea

# Finder (MacOS) folder config
packages/database/**/.DS_Store
fly.toml